h1{
    font-family: Calibri;
    color: #3b5998;

    width: 100%;
    text-align: center;

    padding-top: 3cm;
    padding-bottom: 1cm;
}

.wbdv-field{

    text-align: center;
    width: 100%;

    margin: 0.1cm;
}

.wbdv-button{

    text-align: center;
    margin-top: 0.5cm;
    width: 100%;
    padding: 1cm;

}
.wbdv-link{

    margin-bottom: 1cm;
    white-space: nowrap;
    flex-wrap: wrap;

}

