h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3b5998;

    width: 100%;
    text-align: center;
    text-emphasis: none;
    padding-top: 3cm;
    padding-bottom: 1cm;
}

.wbdv-field{
    text-align: center;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 0.2cm;
    width: 100%;

}

.wbdv-button{
    margin-top: 0.5cm;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-bottom: 0.5cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;

}


.wbdv-link{
    white-space: nowrap;
}
.wbdv-forgot-password{
    margin: 2cm;
}

.wbdv-register{

    float: right;
    margin-right: 2cm;

}