h1{
    font-family: Calibri;
    color: #3b5998;

    width: 100%;
    text-align: center;

    padding-top: 3cm;
    padding-bottom: 1cm;
}

.wbdv-field{

    text-align: center;
    width: 100%;

    margin: 0.1cm;
}

.wbdv-button{

    margin-top: 0.5cm;
    width: 100%;

}


.wbdv-link{
    white-space: nowrap;

}
.wbdv-forgot-password{
    margin: 2cm;
}

.wbdv-register{

    float: right;
    margin-right: 2cm;

}